* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

/* End CSS Reset */
:root {
  --main-color: #f53838;
  --text-color: #4f5665;
  --off-White: #ffffff;
  --black: black;
}

.containar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto 0;
  padding: 0 45px;
  max-width: 1300px;
}

.btn__2 {
  background-color: var(--main-color);
  padding: 15px 48px;
  color: var(--off-White);
  font-weight: 700;
  border-radius: 10px;
  box-shadow: -1px 9px 20px 0px var(--main-color);
  margin: 22px 0;
}

.btn {
  padding: 4px 22px;
  border: 1px solid var(--main-color);
  border-radius: 70px 70px 70px 70px;
  font-weight: 700;
  color: var(--main-color);
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--main-color);
  color: var(--off-White);
}

section {
  margin-top: 10rem;
}

.global__head {
  text-align: center;
}
.global__head h1 {
  margin-bottom: 20px;
  font-size: 35px;
  color: var(--black);
}
.global__head p {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
}

.svg__features {
  padding: 3px;
  width: 35px;
  background-color: rgba(237, 18, 18, 0.1490196078);
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

header .header__links ul {
  display: flex;
  gap: 3rem;
}

header .header__links ul li a {
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

header .header__links ul li a:hover {
  color: var(--main-color);
}

header .header__login {
  display: flex;
  gap: 4rem;
  align-items: center;
}

header .header__login .signIn {
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 450px) {
  header .header__links ul {
    gap: 15px;
  }
}
@media (max-width: 870px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
}
.about {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about .about__text {
  flex-basis: 50%;
}

.about .about__text h1 {
  font-size: 43px;
  font-weight: 700;
}

.about .about__text p {
  margin: 15px 0;
  color: var(--text-color);
  line-height: 1.5;
}

.about .about__text span {
  font-weight: 900;
}

.about .about__img img {
  width: 100%;
}

@media (max-width: 660px) {
  .about__text {
    order: 2;
  }
  .about {
    flex-direction: column;
  }
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.features .features__statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17rem;
  width: 94rem;
  box-shadow: rgba(149, 157, 165, 0.08) 23px 29px 24px;
  padding: 0 5rem;
}

.features .features__statistic:not(:last-of-type)::after {
  content: "";
  position: absolute;
}

.features .features__statistic i {
  background-color: rgba(245, 56, 56, 0.12);
  color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
}

.features .features__statistic {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.features .features__statistic div p {
  margin-top: 6px;
  font-weight: 700;
  opacity: 0.8;
}

.features__content {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.features__content_img {
  flex-basis: 55%;
}

.features__content_text {
  margin-top: 7rem;
  width: 50%;
}

.features__content_text h1 {
  font-size: 35px;
  color: black;
  line-height: 1.5;
}

.features__content_text p {
  line-height: 1.5;
  font-weight: 600;
  margin: 20px 0;
}

.features__content_text ul {
  margin-top: 2rem;
}

.features__content_text > ul li {
  margin: 15px 0 6px 7px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 450px) {
  .features__content_img img {
    display: none;
  }
  .features__content_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .features .features__statistics {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 40px;
    text-align: center;
  }
  .features__content_text h1 {
    font-size: 20px;
  }
  .features__content_text {
    width: 100%;
  }
}
@media (max-width: 870px) {
  .features .features__statistics {
    width: 100%;
    padding: 10px;
  }
  .features__content {
    flex-direction: column;
  }
  .features__content_img img {
    width: 100%;
  }
}
.pricing__plans {
  display: flex;
  gap: 50px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.plan {
  width: 330px;
  height: 760px;
  border: 3px solid var(--text-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 13px;
  transition: 0.3s;
}
.plan h2 {
  margin: 35px;
  color: var(--black);
  font-size: 20px;
}
.plan ul {
  margin: 6rem;
}
.plan ul li {
  margin: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
}
.plan ul li img {
  color: green;
}

.plan:hover {
  border-color: var(--main-color);
}

.plan:hover .plan__btn {
  box-shadow: -1px 9px 20px 0px var(--main-color);
  background-color: var(--main-color);
  color: var(--off-White);
}

.plan__1__h1 {
  margin-top: 5rem;
  margin-bottom: 8px;
}

.plan__2__h1 {
  margin-top: 1rem;
  margin-bottom: 8px;
}

.plan__3__h1 {
  margin-top: -3rem;
  margin-bottom: 8px;
}

.plan__btn {
  width: 15rem;
  height: 4rem;
  font-weight: 900;
}

.vpn .global__head p span {
  font-weight: 800;
}

.vpn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vpn__img {
  margin-top: 155px;
}

.vpn__img img {
  width: 100%;
}

.vpn__comp {
  display: flex;
  align-items: center;
  gap: 47px;
}

@media (max-width: 600px) {
  .vpn__comp img {
    width: 36px;
  }
}
@media (max-width: 870px) {
  .vpn__img img {
    width: 81%;
  }
}
.testimonials__boxs {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 60px;
}

.testimonials__boxs .box {
  border-radius: 10px;
  border: 3px solid #ddd;
  width: 100%;
  padding: 10px;
}

.testimonials__boxs .box .img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials__boxs .box .img img {
  width: 50px;
  border-radius: 50%;
}

.testimonials__boxs .box .name h1 {
  font-size: 18px;
  font-weight: 700;
}

.testimonials__boxs .box .name p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.testimonials__boxs .box > p {
  margin: 25px 0px;
  line-height: 30px;
  font-size: 16px;
}

.testimonials__boxs .box .rate i {
  color: #fea250;
}

.span {
  display: flex;
  gap: 20px;
}

.span span {
  width: 10px;
  display: block;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}

.span span:first-of-type {
  width: 55px;
  background-color: var(--main-color);
  border-radius: 30px;
}

.scrool {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.arrow {
  display: flex;
  gap: 40px;
  align-items: center;
}

.arrow img {
  padding: 15px;
  border-radius: 50%;
  color: var(--off-White);
}

.arrow__rigth {
  background-color: var(--main-color);
}

.arrow__left {
  background-color: var(--off-White);
  border: 1px solid var(--main-color);
}

.active__op {
  border-color: var(--main-color) !important;
}

@media (max-width: 450px) {
  .scrool {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .testimonials__boxs .box {
    height: 300px;
  }
}
@media (max-width: 870px) {
  .testimonials__boxs {
    flex-wrap: wrap;
  }
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 230px;
  padding: 40px;
  width: 1060px;
  position: absolute;
  top: -232px;
  z-index: 1;
  background-color: var(--off-White);
}
.subscribe p {
  margin: 15px 0px;
}

.subscribe button {
  background-color: var(--main-color);
  padding: 15px 48px;
  color: var(--off-White);
  font-weight: 700;
  border-radius: 10px;
  box-shadow: -1px 9px 20px 0px var(--main-color);
  margin: 22px 0;
}

.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.0588235294);
  height: fit-content;
  position: relative;
  margin-top: 19rem;
}

.footer .footer__content {
  display: flex;
  margin-top: 16rem;
  gap: 14rem;
}

.footer .contact {
  width: 340px;
}

.footer .contact p {
  margin: 25px 0;
}

.footer .contact .icon {
  margin-top: 2rem;
}

.footer .contact .icon i {
  color: var(--main-color);
  padding: 5px;
  border-radius: 50%;
  font-size: 23px;
  margin-right: 11px;
  cursor: pointer;
}

.footer .contact span {
  margin-top: 4rem;
  display: block;
}

.footer ul li {
  margin: 15px 0;
  transition: 0.3s;
  cursor: pointer;
}

.footer ul li:hover {
  color: var(--main-color);
}

@media (max-width: 450px) {
  .subscribe button {
    width: 113px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .footer .footer__content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 870px) {
  .footer .footer__content {
    gap: 2rem;
  }
  .subscribe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */